:root{
    --color-clear: rgb(160, 70, 70);
}

.clear{
    height: 80px;
    flex: 1 1;
    margin: 10px;
    border: 8px solid var(--color-clear);
    border-radius: 20px;
    background-color: black;
    color: var(--color-clear);
    font-size: 2em;
    cursor: pointer;
}