body{
  background-color: black;
}

.App {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.row{
  display: flex;

}

.screen{
  height: 80px;
  margin: 10px;
  border: 8px solid white;
  border-radius: 20px;
  background-color: black;
  color: #ffff;
  padding: 10px
}

.calculator{
  margin: 0 auto;
  width: 400px;
  border: 8px solid #ffff;
  border-radius: 17px;
  padding: 20px;
  user-select: none;
}